<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX/Go todo list</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <ul id="todo-container">
        {{range $index, $todo := .Todos}}
            {{template "todo" $todo}}
        {{end}}
    </ul>
    <div>
        <input name="new-todo" placeholder="New todo"></input>
        <button
          hx-include="[name='new-todo']"
          hx-swap="beforeend"
          hx-post="/add"
          hx-target="#todo-container"
        >
          Add new TODO
        </button>
    </div>
  </body>
</html>

